/* light: {
    fontFamily: 'HelveticaNowDisplay-Light',
    fontWeight: 300,
  },
  regular: {
    fontFamily: 'HelveticaNowDisplay-Regular',
    fontWeight: 400,
  },
  medium: {
    fontFamily: 'HelveticaNowDisplay-Medium',
    fontWeight: 500,
  },

  bold: {
    fontFamily: 'HelveticaNowDisplay-Bold',
    fontWeight: 700,
  },

  extraBold: {
    fontFamily: 'HelveticaNowDisplay-ExtraBold',
    fontWeight: 800,
  }, */
