<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>145295638585-dp5sicfb645783a8dggg3peee2450tf9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.145295638585-dp5sicfb645783a8dggg3peee2450tf9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>145295638585-ka42e57limg4irfoi35cs2sjinv9g72p.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDQlQFgqfzLdNRRhatf4XMSFpHxzI87uRo</string>
	<key>GCM_SENDER_ID</key>
	<string>145295638585</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bombaycanvas.app</string>
	<key>PROJECT_ID</key>
	<string>bombay-canvas</string>
	<key>STORAGE_BUCKET</key>
	<string>bombay-canvas.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:145295638585:ios:f83df92fb8e47e6bbb0de8</string>
</dict>
</plist>